body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #131212;
    padding: 1em;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}

li {
    list-style: none;
    padding: 0.5em;
    border-bottom: 1px solid #cccccc;
}

li:last-child {
    border-bottom: none;
}

a {
    text-decoration: none;
    color: #1b80d8;
}

a:hover {
    color: #7c2323;
}
